html,
body {
   margin:0;
   padding:0;
   height:100%;
}

.header1{
    
    width: 1154px;
    height: 114px;
    margin:auto;
    border: 1px solid grey;
    background-image: url(../Images/gato1.png);
     background-size: 100% 100%; 
    animation: cambio 5s infinite;
   
}
@keyframes cambio{
    
    0%, 4%{opacity: 0}
    
    5%, 30%{
        background-image: url(../Images/gato2.png);
        opacity: 1;
    }
    31%,34%{opacity: 0}
    
    35%,64%{
        background-image: url(../Images/gato3.png);
        opacity: 1;
    }
    65%, 69%{opacity: 0}
    70%, 95%{
        background-image: url(../Images/gato1.png);
        opacity: 1;
    }
    96%,100%{opacity: 0;} 
}
.navbar1{
    align-content: center;
    background:  #bdb9e7;
    height: 50px;

}

ul.men a {
  text-decoration: none;
}

ul.men {
  background: #666382;;
    list-style: none;
    margin: 0;
    padding-left: 0;
}

ul.men li {
    color: black;
  background: #bdb9e7;
    display: block;
    float: left;
    padding: 1rem;
    position: relative;
    text-decoration: none;
  transition-duration: 0.5s;
}
  
ul.men li a {
  color: black;
}

ul.men li:hover {
    background: #856285;
    cursor: pointer;
}

ul.men li ul {
    background:
    visibility: hidden;
  opacity: 0;
  min-width: 5rem;
    position: absolute;
  transition: all 0.5s ease;
  margin-top: 1rem;
    left: 0;
  display: none;
}

ul.men li:hover > ul,
ul.men li ul:hover {
  visibility: visible;
  opacity: 1;
  display: block;
}

ul.men li ul li {
    clear: both;
  width: 100%;
}
.section1{
    border: 1px solid;
    border-color: blueviolet;
    background-color: aliceblue;
    height: 600px;
    width: 28%;
    float: left;
}
.nav2{
   
   border-radius: 4px;
   border: 1px solid;
    border-color: blueviolet;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    
    background-color: #d4d8f9;
}
.side1{
    align-self: center;
    border: 1px dotted blueviolet;
    background-color: #d4d8f9;
    height: 300px;
    width: 282px;
    border-radius: 4px;
    margin-left: auto;
    margin-right: auto;
    
}
input[type=email],[type=password]{
    padding: 8px;
    border: 1px solid black;
    border-radius: 5px;
    float:right;
}
input[type=submit],[type=reset]{
    background-color: #856285;
    color: white;
    border-radius: 5px;
    padding: 6px;
    
}
.perfil{
    border-radius: 4px;
display: block;
 margin-left: auto;
 margin-right: auto;
}

.section2{
    height: 600px;
    width: 70%;
    float: right;
        
    border: 2px solid blueviolet;
    border-radius: 4px;
    background-color: aliceblue;
    
}
h1,h2{
    
    font-family: "helvetica";
}
.art1{
    background-color: #d4d8f9;
    height: 50%;
    width: 90%;
    margin-left: auto;
 margin-right: auto;
    border-radius: 10px;
}
.sec2div{
    width: 47%;
    float: left;
}
.sec2asi{
    width: 47%;
    float: right;
}
.art2{
    background-color: #d4d8f9;
    margin-left: auto;
 margin-right: auto;
    height: 25%;
    width: 90%;
    border-radius: 10px;
}
.subti{
    margin-top: -20;
}
.realpie{ 
    
   
   
    
    
    
}
#contededor{
    position: relative;
    min-height: 100%;  
    overflow:auto;
}
#footer{
 height: 200px;  
 bottom: 0;
 width: 98%;
 position: absolute;
 background-color: #666382;
}
#cuerpo{
    padding-bottom: 200px;
    padding: 10px;
    height: 620px;
    
}
.ani1{
    float: left;
    animation: opacityOn 10s infinite;
    animation-delay: 2s;
}

.ani2{
    float: left;
    animation: opacityOn 10s infinite;
    animation-delay: 3s;
}
.ani3{
    float: left;
    animation: opacityOn 10s infinite;
    animation-delay: 4s;
}
.ani4{
    float: right;
    margin: auto;
    background-color: #666382;
    color: white

    
}

@keyframes opacityOn {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
   75% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
